<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="WcfPox.OrderingService" behaviorConfiguration="WcfPox.OrderingServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress = "http://localhost:7070/" />
          </baseAddresses>
        </host>
        <endpoint address ="" binding="webHttpBinding" contract="WcfPox.IOrderingService" behaviorConfiguration="WcfPox.WebEndpointBehavior">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <!--
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>-->
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="WcfPox.WebEndpointBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="WcfPox.OrderingServiceBehavior">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
