################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.cache
/RestInPractice/Src/Chapter3-WCFPOXService/WCF Pox Service/WcfPox/bin
/RestInPractice/Src/Chapter3-WCFPOXService/WCF Pox Service/WcfPox/obj
*.suo
/RestInPractice/Src/Chapter3-DotNetPOXClient/DotNet Pox Client/PoxClient/bin
/RestInPractice/Src/Chapter3-DotNetPOXClient/DotNet Pox Client/PoxClient/obj
*.exe
*.pdb
*.dll
RestInPractice/Src/Chapter4-DotNetOrderingClient/DotNetOrderingClient/UpgradeLog.htm
RestInPractice/Src/Chapter4-HttpListenerOrderingService/HttpListenerOrderingService/UpgradeLog.htm
